xformers>=0.0.22
tiktoken
wandb
webdataset
fsspec
tqdm
jsonlines
boto3
Pillow
zstandard
pysimdjson
cloudpathlib
datasets
dill
huggingface_hub
pre-commit
ray[all]
loguru
jsonlines
transformers
s3fs
wikipedia
ipython
mosaicml
